src/main/resources/xsd/Person.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.person.bbc.com" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.person.bbc.com">
    <xs:element name="Person" type="PersonType"/>
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="lastName" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
